.login-logo{
  width: 10%;
  height: 8.6%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.login-page-header{
    font-family: sans-serif;
    font-weight: 700;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-icons{
    font-size: 100px;
}

.login-username-field{
    height: 8vh;
    width: 40vw;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 1%;
    padding-left: .5%;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
}


.login-username-field:focus {
    border: 2px solid rgb(254, 84, 66);
    border-radius: 4px;
}

.login-password-field{
    height: 8vh;
    width: 40vw;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-left: .5%;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
}

.login-password-field:focus{
    border: 2px solid rgb(254, 84, 66);
    border-radius: 4px;
}

.login-submit-button{
    height: 8vh;
    width: 40vw;
    background-color: rgb(250, 114, 99);
    border-radius: 50px;
    margin-bottom: 2%;
    margin-left: .5%;
    text-align: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.auth-logo{
    height: 5%;
    width: 5%;
}

.login-submit-button:hover{
    background-color: rgb(254, 84, 66);
    cursor: pointer;
}