
.profile-container{
  display: flex;
}

.nav-container{
  height: 100vh;
  background-color: rgb(247, 205, 150);
  width: 15vw;
  /* margin-right: 5%; */
  display: flex;
  flex-direction: column;
  align-items: center;

}
.nav-dh-title{
  font-size: 200%;
}
.nav-h-title{
  font-size: 200%;
}

.star-icon{
  color: gray;
}

.profile-center-container{
  width: 60vw;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 3%;
  border: solid black 1px;
}

.nav-user-circle{
  font-size: xx-large;
  margin-top: 5%;
}

.link-to-new{
  margin-left: 70%;
  border: solid black 1px;
  background-color: rgb(233, 231, 231);
  padding: 1%;
}

.link-to-new:hover{
  border: solid black 2px;
}

.profile-recipient-ul{
  border-top: solid rgb(192, 189, 189) 1px;
  margin-top: 2%;
}

.recipient-li{
  border-bottom: solid rgb(192, 189, 189) 1px;
  padding-left: 1.5%;
  display: flex;
  justify-content: space-between;

}
.profile-greeting{
  font-size: larger;

}
.sub-greeting{
  margin-bottom: 2%;
}




/* .reminderBox{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  border: 2px solid rgb(12, 0, 0);
  border-radius: 5px;
  margin-top: .5%;
  padding: .5%;
}

.reminder-delete-button{
  margin-left: 95%;
  padding-left: .5%;
  padding-right: .5%;
}
.reminder-delete-button:hover{
  background-color: rgb(73, 73, 73);
  color: aliceblue;
  cursor: pointer;
}

p{
  margin-top: 1.5%; 
  margin-left: 1.5%;
}

.username-navbar{
  
}

.reminderContainer{
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  background-color: rgb(246, 248, 248);
  border-radius: 5px;
  padding: 1%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e77500;
  border: 2px solid rgb(209, 205, 205);
  width: 60vw;
  margin-bottom: 2%;
  
}

.link-to-existing{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  border: 2px solid rgb(12, 0, 0);
  border-radius: 5px;
  margin-top: .5%;
  padding: 1%;
  width: fit-content;
}

.link-to-existing:hover{
  border: 2px solid rgb(247, 155, 36);
  border-radius: 4px;
  cursor: pointer;
}

.link-to-new{
  font-size: 100%;
  border: 2px solid rgb(12, 0, 0);
  border-radius: 5px;
  margin-top: 5%;
  padding: 1%;
  width: fit-content;
  margin-left: 1%;
  
}

.link-to-new:hover{
  border: 2px solid rgb(247, 155, 36);
  border-radius: 4px;
  cursor: pointer;
}

.link-to-brand-new{
  font-size: 100%;
  border: 2px solid rgb(12, 0, 0);
  border-radius: 5px;
  margin-top: 50%;
  padding: 1%;
  width: fit-content;
  margin-left: 1%;
  
}

.link-to-brand-new:hover{
  border: 2px solid rgb(247, 155, 36);
  border-radius: 4px;
  cursor: pointer;
}

.add-another{
  font-family: Arial, Helvetica, sans-serif;
}

.links-container{
  display: flex;
  justify-content: flex-end;
}

.profile-link{
  margin-right: 2%;
  height: 3vh;
  width: 6vw;
  background-color: rgb(246, 248, 248);
  border-radius: 5px;
  padding: .5%;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e77500;
  border: 2px solid rgb(209, 205, 205);
}

.profile-link:hover {
    border: 2px solid rgb(247, 155, 36);
    border-radius: 4px;
    cursor: pointer;
}

.profile-greeting{
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1%;
}

.sub-greeting{
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1%;
  margin-bottom: 2%;
}

.logout-link{
  margin-right: 5%;
  height: 3vh;
  width: 6vw;
  background-color: rgb(246, 248, 248);
  border-radius: 5px;
  padding: .5%;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e77500;
  border: 2px solid rgb(209, 205, 205);
  outline: none; 
}


.logout-link:hover {
    border: 2px solid rgb(247, 155, 36);
    border-radius: 4px;
    cursor: pointer;
}

.nav-container{
  display: flex;
  flex-direction: column;
}

.nav-dh-title{
  margin: 0 auto;
  font-size: 300%;
  color: #e77500;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-top: 2%;
}

*/