.signup-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-username-field{
    height: 8vh;
    width: 40vw;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 1%;
    padding-left: .5%;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
}


.signup-username-field:focus {
    border: 2px solid rgb(254, 84, 66);
    border-radius: 4px;
}

.signup-header{
    font-family: sans-serif;
    font-weight: 700;
    font-size: larger;
    margin-top: 2%
}